* Data Types -

 1) String - " "
 2) Integer - 123
 3) Float   - 12.32
 4) Boolean - True/False
 5) Complex - 5 + 9j
 6) Set     - {}
 7) List    - []
 8) Tuple   - ()
 9) Dictionary - {key:value,key1:value2}

*  To check type of variable / object

In [8]:
s = "Python"
type(s)

str

In [9]:
a = 125
type(a)

int

In [28]:
b = 12.36
type(b)

float

In [30]:
v = True
type(v)

bool

In [16]:
a1 = 6 + 7j
type(a1)

complex

In [34]:
# To check which number imaginary number and real number from a1

a1.imag
a1.real
print("imaginary number = ",a1.imag)
print("real number = ",a1.real)

imaginary number =  7.0
real number =  6.0

In [27]:
# to check type of t
t = (10,)
type(t)

tuple

In [39]:
d = {'key': True, 'name': 9774841, 'contact': 9774841, 'l': 9774841}
type(d)

dict

In [40]:
s = {10,12.2,45,47,8,1,5,4,2,'sam',10,12.2,45,47,8,'sam'}
type(s)

set

In [41]:
l = ['abc', 12,12.1,True, 7+6j]
type(l)

list

In [25]:
# To convert into list tupal 
l = ['abc', 12,12.1,True, 7+6j]
tuple(l)
type(tuple(l))

tuple

In [26]:
# To check length of l
len(l)

5

In [20]:
# To convert tupal into list
t = (10,12.2,45,47,8,'sam',10,12.2,45,47,8,'sam')
list(t)
type(list(t))

list

In [22]:
# To check length of t
len(t)

12

In [38]:
# To convert string into set
s = "samirshaikh"
set(s)

{'a', 'h', 'i', 'k', 'm', 'r', 's'}

In [48]:
# To convert dictionary into string
str(d)

"{'key': True, 'name': 9774841, 'contact': 9774841, 'l': 9774841}"