In [1]:
# to check index no [l.index(index no)]
l=[10,20,30,40,50,60,70,"anuja",12.36,"pallavi",6.14]
l[5]

60

In [2]:
# revers list use(l[::-1])
l[::-1]

[6.14, 'pallavi', 12.36, 'anuja', 70, 60, 50, 40, 30, 20, 10]

In [4]:
# Slicing - 
#  l[0:5:3] means
# 0= start ,5 =end,3=step
l[0:5:3]

[10, 40]

In [5]:
# Convert tupple into list use (list(t))
t=(10,20,30,60)
list(t)

[10, 20, 30, 60]

In [6]:
# Convert string into list use (list(s)) 
s="pythonclass"
list(s)

['p', 'y', 't', 'h', 'o', 'n', 'c', 'l', 'a', 's', 's']

In [1]:
# for search from list use [ in] oprater
l=[10,20,30,40,50,60,70,"anuja",12.36,"pallavi",6.14]

In [5]:
a = 20 in l
print("a In list = ",a)

b = 400 in l
print("b In list = ",b)

a In list =  True
b In list =  False

In [8]:
#  for vice versa of in oprater use [not in] oprater
a = 410 not in l
print("a not In list = ",a)

10 not in l
print("b not In list = ",b)

a not In list =  True
b not In list =  False

In [ ]:
#  min ,max func use to check maximum & minimum value fron list
# but there are same condition they are working on same type list

In [13]:
l=[10,30,40,60,80,90]

max(l)
print("maximum no in list = ",max(l))

min(l)
print("minimum no in list = ",min(l))

maximum no in list =  90
minimum no in list =  10

In [17]:
l1=["pallavi","anuja","anjali","pallavi","pallavi"]

max(l1)
print("maximum no in list = ",max(l1))

min(l1)
print("minimum no in list = ",min(l1))

maximum no in list =  pallavi
minimum no in list =  anjali

In [18]:
# if you replace in list
l=[10,30,40,60,80,90]
l[3]= 3
l

[10, 30, 40, 3, 80, 90]

In [19]:
# if you add in list [l,insert(index,object)]
l=[10,30,40,60,80,90]
l.insert(3,54564578)
l

[10, 30, 40, 54564578, 60, 80, 90]

In [20]:
# count func to check 1 element how many time in there
l.count(10)

1

In [32]:
# to check index no of given value
l=[10,30,40,60,80,90]
l.index(60)

3

In [26]:
# insert values index wise[l.insert(5,1)= 5 is index no and 1 is insert value]
l=[10,30,40,60,80,90]
l.insert(5,1)
l

[10, 30, 40, 60, 80, 1, 90]

In [34]:
# add new value in list using append
l=[10,30,40,60,80,90]
l.append("python")
l

[10, 30, 40, 60, 80, 90, 'python']

In [37]:
# to extend given value in ()
l.extend("python")
l

[1, 2, 3, 'python', 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n']

In [38]:
 # remove last veriable
l=[10,20,30,40,50,60,70,"anuja",12.36,"pallavi",6.14]
l.pop()

6.14

In [39]:
# remove any number you want
l=[10, 20, 30, 40, 50, 60, 70, 'anuja', 12.36, 'pallavi']
l.remove(20)
l

[10, 30, 40, 50, 60, 70, 'anuja', 12.36, 'pallavi']

In [41]:
# remove index wise use del func
l=[10, 20, 30, 40, 50, 60, 70, 'anuja', 12.36, 'pallavi']
del l[1]
l

[10, 30, 40, 50, 60, 70, 'anuja', 12.36, 'pallavi']

In [42]:
# if you want to reverse list then use  [l.reverse()]
l=[10, 20, 30, 40, 50, 60, 70, 'anuja', 12.36, 'pallavi']
l.reverse()
l

['pallavi', 12.36, 'anuja', 70, 60, 50, 40, 30, 20, 10]

In [16]:
# if you want sort list then use [l.sort()]
# if your list type is same then your sort func is worked

In [43]:
l=[0,20,30,55,24,62,55,6]
l.sort()
l

[0, 6, 20, 24, 30, 55, 55, 62]

In [44]:
# if you want to copy /add in list to use [l.copy()]
l.copy()

[0, 6, 20, 24, 30, 55, 55, 62]

In [45]:
# if you add 2 list simple way 
l=[0, 6, 20, 24, 30, 55, 55, 62]
l2=[25,62,95,63,84,55]
l+l2

[0, 6, 20, 24, 30, 55, 55, 62, 25, 62, 95, 63, 84, 55]

In [46]:
# nested list(means list me list ,list me list)
l=[1,2,3]
l2=[5,8.6]
l3=[9.2,7]

l4=[l,l2,l3]
l4

[[1, 2, 3], [5, 8.6], [9.2, 7]]

In [30]:
l4[1]

[5, 8.6]

In [31]:
l5=l4[1]
l5

[5, 8.6]

In [33]:
l5[1]

8.6

In [34]:
l4[1][1]

8.6