In [ ]:
# s={}
# In set their are no indexing

In [16]:
s={1,2,3,4,5,6,7,9}

In [17]:
# Add an element to a set
# in set we can add str,float,boolean,tupple 
# one time we can add only one element
s.add(200)
s

{1, 2, 3, 4, 5, 6, 7, 9, 200}

In [18]:
# if you want to add tupple
s1=(22,33,44,55)
s.add(s1)
s

{(22, 33, 44, 55), 1, 2, 200, 3, 4, 5, 6, 7, 9}

In [19]:
# if you want to add tupple but you have add single single element
a = {1,2,3,4,5,6}
a1 = (99,88,77)
a.update(a1)
a

{1, 2, 3, 4, 5, 6, 77, 88, 99}

In [20]:
s={1,2,3,4,5,6,7,9}
#  To create copy of s
s2 = s.copy()
s2

{1, 2, 3, 4, 5, 6, 7, 9}

In [15]:
s={1,2,3,4,5,6,7,9}
# To remove first element in set
s.pop()
s

{2, 3, 4, 5, 6, 7, 9}

In [21]:
# Remove particular element in list.it must be member
s.remove(4)
s

{1, 2, 3, 5, 6, 7, 9}

In [23]:
# if number is available then remove it and number is not available then also run(not get error)
s.discard(123)
s

{1, 2, 3, 5, 6, 7, 9}

In [25]:
# To remove all element in the set
s.clear()
s

set()

In [33]:
# convert tupple,list,string into set
t=(5,6,9)
set(t)

{5, 6, 9}

In [34]:
# To find unique element in tupple,list and string
t = (1,2,3,4,5,6,7,8,9,8,5,2,3,6,5,5,5,5)
set(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
s = {10,20,30,40,50,60}
s1 = {1,2,30,4,5,60}

In [40]:
# To check intersection of s & s1(common elements)
s.intersection(s1)

{30, 60}

In [42]:
# To check union of s & s1 ( all elements that are in either set)
s.union(s1)

{1, 2, 4, 5, 10, 20, 30, 40, 50, 60}

In [43]:
# To remove same element in set
s.symmetric_difference(s1)

{1, 2, 4, 5, 10, 20, 40, 50}

In [44]:
# to find element they present in s and they not present in s1
s.difference(s1)

{10, 20, 40, 50}

In [46]:
# vise versa of above
s1.difference(s)

{1, 2, 4, 5}

In [53]:
# To check membership (in,not in)
# if yes then get true and if not then get false
s = {10,20,30,40,50,60}
print("4 in s = ",4 in s)
print("4 not in s = ",4 not in s)
print("30 in s = ",30 in s)

4 in s =  False
4 not in s =  True
30 in s =  True