In [2]:
# t=(  )
t=(12)
type(t)

int

In [3]:
# covert int into tuple use ","
t=(12,)
type(t)

tuple

In [4]:
#In tuple we can not make any changes
t = (10,20,30,40,'python',False)

In [5]:
# reverse tuple
t[::-1]

(False, 'python', 40, 30, 20, 10)

In [6]:
# To find index number of given value
t.index(30)

2

In [9]:
# To print given tuple in multiple time
t1 = t*2
t1

(10, 20, 30, 40, 'python', False, 10, 20, 30, 40, 'python', False)

In [11]:
# Returns the number of times a specified value occurs in a tuple 
t1.count(10)

2

In [13]:
# if you want to change in tuple then use sorted fun for change type 
t=(12,56,89,74,68)
sorted(t)

[12, 56, 68, 74, 89]

In [17]:
min(t)
print("min =",min(t))
max(t)
print("max =",max(t))

min = 12
max = 89